* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;

}

body {
    /* background-color: aquamarine; */
    /* border: 1px solid red; */
    margin: 0px;
}

header {
    /* border: 1px solid rgb(54, 153, 51); */
    background-color: rgba(255, 144, 14, 0.1);
    ;
    margin: 0px;
    padding: 50px 240px 45px;
}

/* ..................navigation bar...................... */
nav {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navigation-items {
    display: flex;
    gap: 50px;
    font-weight: 100;
    font-size: 18px;
    color: #424242;
}

/* responsive nav bar*/
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        gap: 25px;
    }

    .navigation-items {
        flex-direction: column;
        gap: 15px;
    }

    header {
        padding: 50px 20px 45px;
    }
}

@media screen and (min-width:577px) and (max-width:1358px) {
    nav {
        flex-direction: column;
        gap: 25px;
    }

    header {
        padding: 50px 60px 45px;
    }
}

/* .............Banner..................... */
section {
    margin-top: 100px;
    /* margin-bottom: 20px; */
    text-align: center;
}

.banner-description {
    /* border: 1px solid rgb(54, 153, 51); */
    width: 870px;
    margin-left: auto;
    margin-right: auto;
}

.banner-description h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;

}

.banner-description p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #727272;
}

.banner-description button {
    width: 200px;
    height: 70px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 7px;
    border: none;
    padding: 21px 25px;
    margin-bottom: 50px;

}

section img {
    width: 100%;
}

/* responsive banner*/
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    .navigation-items {
        flex-direction: column;
    }

    header {
        padding: 50px 20px 45px;
    }

    .banner-description {
        width: 100%;
    }

    section {
        margin-top: 50px;
    }
}

@media screen and (min-width:577px) and (max-width:1358px) {
    .banner-description {
        width: 100%;
    }
}

/* .............Quick list section ...............*/
main {
    margin: 0px 240px;
}

.quick-list-container {
    display: flex;
    gap: 85px;
    align-items: center;
}

.quick-list-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.quick-list-description {
    width: 550px;
    text-align: left;
}

.quick-list-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
}

#dark {
    color: #727272;
}

#black {
    color: #131313;
    font-weight: 700;
}

#orange {
    color: #FF900E;
    font-weight: 700;
}

.quick-list-description p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quick-list-description button {
    width: 180px;
    height: 60px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 7px;
    border: none;
    padding: auto;
    margin-bottom: 50px;
}

/* responsive banner*/
@media screen and (max-width:576px) {
    main {
        margin: 0px 20px;
    }

    .quick-list-container {
        flex-direction: column;
    }

    .quick-list-images {

        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-description {
        width: 100%;
    }
}

/* responsive other device */
@media screen and (min-width:577px) and (max-width:1358px) {
    .quick-list-container {
        flex-direction: column;
        align-items: flex-start;
    }

    main {
        margin: 0px 60px;
    }
}

/* ...............................................love feature section............................................... */
.love-feature-section {
    margin-top: 180px;
}

.love-feature-container {
    display: flex;
    justify-content: space-between;
    gap: 146px;
    text-align: left;
}

.love-feature-sub-container {
    width: 625px;
}

.feature-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.love-feature-sub-container h3 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.love-feature-sub-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}

.feature {
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.feature h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}

/* btn and img */
.feature-img-btn img {
    margin-bottom: -125px;
}

.feature-img-btn button {
    width: 330px;
    height: 200px;
    font-weight: 700;
    font-size: 65px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 7px;
    border: none;
    padding: auto;
    margin-left: -100px;
    margin-bottom: 50px;
}

.feature-img-btn button span {
    font-weight: 500;
    font-size: 25px;
}

/* ........responsive loving feature .................responsive loving feature........*/

@media screen and (max-width:576px) {
    .love-feature-section {
        margin-top: 90px;
    }

    .love-feature-container {
        flex-direction: column;
        gap: 50px;
    }

    .love-feature-sub-container {
        width: 100%;
    }

    .feature-img-btn button {
        width: 100%;
        height: 150px;
        font-weight: 700;
        font-size: 55px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .feature-img-btn img {
        margin-bottom: 10px;
    }

    .feature-img-btn button br {
        display: block;
    }
}

/* responsive other device */
@media screen and (min-width:577px) and (max-width:1358px) {
    .love-feature-container {
        flex-direction: column;
        gap: 50px;
    }

    .feature-img-btn button {
        width: 60%;
        height: 150px;
        font-weight: 700;
        font-size: 55px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .feature-img-btn img {
        margin-bottom: 180px;
        width: 100%;
    }

    .feature-img-btn button br {
        display: block;
    }

    .feature-img-btn img {
        margin-bottom: 180px;
        width: 60%;
    }
}

@media screen and (min-width:1359px) and (max-width:1562px) {
    .love-feature-container {
        flex-direction: column;

        gap: 50px;
    }

    .feature-img-btn button {
        width: 60%;
        height: 150px;
        font-weight: 700;
        font-size: 55px;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .feature-img-btn img {
        margin-bottom: 180px;
        width: 60%;
    }

    .feature-img-btn button br {
        display: block;
    }
}

/* ...............................................some fact section ...................................*/
.fact img {
    width: 45px;
    height: 45px;
}

.fact-container {
    text-align: left;
}

.fact-container h3 {
    font-weight: 700;
    font-size: 45px;
}

.fact-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}


.fact-sub-container {

    margin: 100px 50px 0px;
    display: flex;
    justify-content: space-between;
}

.fact {
    border: 2px solid #FF900E;
    border-radius: 5px;
    height: 202px;
    width: 242px;
    text-align: center;
    padding-top: 45px;
    background-color: #FFFFFF;
    margin-bottom: 60px;

}

.fact:hover {
    transition: background-color 2s ease-out, border 0s linear;
    background-color: rgb(240, 222, 145);
    border: 5px solid #FF900E;
    transform: translate(10px, -10px);
    margin-bottom: 54px;
}

.fact h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 9px;
    margin-bottom: 5px;
}

.fact p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* responsive our sponsor */
@media screen and (max-width:576px) {
    .fact-sub-container {
        flex-direction: column;
        margin: 40px 25px 0px;

    }

    .fact {
        margin-bottom: 20px;
    }

    .fact:hover {
        transition: border-left 0s linear;
        border: none;
        border-left: 5px solid #FF900E;
        border-top: 2px solid #FF900E;
        border-right: 2px solid #FF900E;
        border-bottom: 2px solid #FF900E;
        transform: translate(10px, 0px);
        margin-bottom: 20px;
    }

    .fact-container p {
        margin-top: 15px;
    }
}

/* responsive for other device */
@media screen and (min-width:1359px) and (max-width:1562px) {
    .fact-sub-container {
        flex-wrap: wrap;

    }
}

/* ...........................................our sponsors................................................. */
.our-sponsors-section {
    text-align: center;
}

.our-sponsors-title {
    font-weight: 700;
    font-size: 45px;
}

.our-sponsors-desceiption {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsors-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
    filter: grayscale(100%)
}

.sponsors-images img {
    width: 165px;
    height: 50px;
}

/* responsive our sponsor */
@media screen and (max-width:576px) {
    .sponsors-images {
        flex-direction: column;
        gap: 20px;
    }

    br {
        display: none;
    }
}

@media screen and (min-width:577px) and (max-width:1358px) {
    .sponsors-images {
        flex-wrap: wrap;

    }
}

/* .....................................next goal section...................................... */

.horizontal-line {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #FF900E 10%, #a3eef8 20%, #a3eef8 80%, #FF900E 90%);
}

.our-goals {
    margin-bottom: 130px;
}

.goals {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 50px;

}

.our-goals h3 {
    margin-top: 25px;
    font-weight: 700;
    font-size: 45px;
}

.goals ul li {
    margin-bottom: 10px;

}

/* responsive footer */
@media screen and (max-width:576px) {
    .our-goals {
        margin-bottom: 130px;
    }
}

/* .......................................footer.................................... */

.footer {
    padding: 0px 240px 254px;
}

.footer-items {
    background: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-items p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 40px 10px;
}

/* responsive footer */
@media screen and (max-width:576px) {
    .footer {
        padding: 0px 20px 100px;
    }
}

@media screen and (min-width:577px) and (max-width:1358px) {
    .footer {
        padding: 0px 60px 100px;
    }
}